.row-fluid
  .span4
    %strong 2003
    The Victoria University of Manchester
  .span8
    %em BSc Computer Science (first class honours)
.row-fluid
  .span4
    %strong 2000
    York Sixth Form College
  .span8
    %em A Levels - Physics (A), Chemistry (A), General Studies (A), Mathematics (B)
.row-fluid
  .span4
    %strong 2007
    Manchester College of Arts and Technology
  .span8
    %em GCSE Modern Greek (B)
.row-fluid
  .span4
    %strong 1998
    Joseph Rowntree School, York
  .span8
    %em GCSEs - 11 at grade A*-B, including 7 at grade A*
