.row-fluid
  .span4
    %strong Dec 2011 - present
    Trend Micro Leeds Development Centre
    %br
    %em Development & Project Manager                          
  .span8
    %p I took on line management responsibility for all engineering staff at Trend Micro's Leeds Development Centre following its transition to becoming a semi-autonomous centre of innovation for the company.
    %p My job involves managing both the people and the projects, from a technical perspective as well as resource allocation.
    %p Following my rebranding of the centre, we are becoming known across the organization as the "mercenary geniuses" who get things done in a reasonably Agile way without too much bureaucracy/resource overhead.
    %p In reality, this means a large part of my job is juggling the interactions with the rest of the company in order that we fit in with the larger development structure and keep everyone happy on all sides.
    %p The Leeds Development Centre is still in its infancy but it has already taken on several game-changing innovations for Trend Micro and under my leadership it has so far delivered on all its promises.
.row-fluid
  .span4
    %strong Jul 2011 - Dec 2011
    Trend Micro, Leeds
    %br
    %em Development Manager, SafeSync for ISP
  .span8
    %p I led a small team developing the means to deploy Trend Micro's proprietary cloud platform at ISP data centres, which resulted in a major deployment at a Tier 1 ISP, with various customizations for their version of the platform.
    %p SafeSync for ISP was a high-speed project that needed to be carefully managed in order to meet its deadlines. I managed it using an Agile Scrum-style model and never missed a day on any of the four milestone deliverables.
    %p The project also involved heavy interaction with the customer, other engineers in Trend Micro, and a localization department all in different timezones from me and from each other.
.row-fluid
  .span4
    %strong Jul 2010 - Jul 2011
    Trend Micro, Leeds
    %br
    %em Manager, Service Engineering Group for SafeSync.com
  .span8
    %p I managed the SEG team for SafeSync, which is responsible for rapid customer bugfixing, customizations for white label partners and development projects that fall outside the scope of the main product roadmap.
    %p The job was in equal parts project management, line management, software engineering and level 4 customer support.
    %p The service has hundreds of thousands of registered users and petabytes of storage. The backend is written in Perl/MySQL/MogileFS.
.row-fluid
  .span4
    %strong Nov 2008 - Jul 2010
    IBM, Manchester
    %br
    %em Deputy task manager & Lead software engineer
  .span8
    %p I served as the deputy task manager for the Engineering Infrastructure team.
    %p I was the technical leader for many of the team's projects and responsible for allocating resources and managing requirements and expectations by holding regular meetings to discuss progress and ideas. As technical leader, I also oversaw many of the software architecture decisions.
    %p I was appointed security owner, and trusted with ensuring that IBM's security policies were adhered to and managing access control.
    %p I co-ordinated the integration of Transitive's pre-IBM processes and tools with IBM's existing processes and tools, such as Rational ClearQuest.
    %p I served on a committee tasked with keeping morale high. One of my achievements while on this panel was to introduce cross-team forums to make sure voices were heard at all levels of the organisation.
.row-fluid
  .span4
    %strong Jul 2003 - Nov 2008
    Transitive Ltd, Manchester
    %br
    %em Lead software engineer
  .span8
    %p Prior to Transitive's acquisition by IBM, I was the architect and technical lead of several major innovations, including: a flexible software installation framework which is now being used as the installer for two shipping IBM products, a Ruby-on-Rails e-commerce engine and Transitive's main process management software, which continued to be used on a daily basis by everyone following the acquisition.
.row-fluid
  .span4 
    %strong 1998 - 2001
    McDonald's, York
    %br
    %em Crew member
  .span8
    %p Working at McDonald's was only a part-time job for me as a teenager. But I learnt a lot about management, especially the effect that bad management can have on morale.