.row-fluid
  .span4
    %strong December 2011 - present
    Trend Micro, Leeds
    %br
    %em Development & Project Manager, Leeds Development Centre
  .span8
    %p I took on line management responsibility for all engineering staff at Trend Micro's Leeds Development Centre following its transition to becoming a semi-autonomous centre of innovation for the company.
    %p My job involves managing both the people and the projects, from a technical perspective as well as resource allocation.
    %p Following my rebranding of the centre, we are becoming known across the organization as the "mercenary geniuses" who get things done in a reasonably Agile way without too much bureaucracy/resource overhead.
    %p In reality, this means a large part of my job is juggling the interactions with the rest of the company in order that we fit in with the larger development structure and keep everyone happy on all sides.
    %p The Leeds Development Centre is still in its infancy but it has already taken on a game-changing innovation for Trend Micro and under my leadership it has so far delivered on all its promises.
.row-fluid
  .span4
    %strong July 2011 - December 2011
    Trend Micro, Leeds
    %br
    %em Development Manager, SafeSync for ISP
  .span8
    %p I led a small team developing the means to deploy Trend Micro's proprietary cloud platform at ISP data centres, which resulted in a major deployment at a Tier 1 ISP, with various customizations for their version of the platform.
    %p This project was a high-speed project that needed to be carefully managed in order to meet its deadlines. I managed it using an Agile Scrum-style model and never missed a day on any of the four milestone deliverables.
    %p The project also involved heavy interaction with the customer, other engineers in Trend Micro, and a localization department all in different timezones from me and from each other.
.row-fluid
  .span4
    %strong July 2010 - July 2011
    Trend Micro, Leeds
    %br
    %em Manager, Service Engineering Group for SafeSync.com
  .span8
    %p I managed the SEG team for the SafeSync.com online storage/sync product (based on technology acquired from humyo.com).
    %p The team is responsible for rapid customer bugfixing, customizations for white label partners and development projects that fall outside the scope of the main product roadmap.
    %p The job is in equal parts project management, line management, software engineering and level 4 customer support.
    %p The service has hundreds of thousands of registered users and petabytes of storage. The backend is written in Perl/MySQL/MogileFS.
.row-fluid
  .span4
    %strong November 2008 - July 2010
    IBM, Manchester
    %br
    %em Deputy task manager & Lead software engineer
  .span8
    %p I served as the deputy task manager for a team within IBM that develops applications enabling software engineers to be more efficient in their work, by automating their testing and managing the Agile software development process.The system included a large-scale distributed web-based frontend and a backend that features a database with millions of rows, and an automated farm of over 200 machines.
    %p I was the technical leader for many of the team's projects and responsible for allocating resources as well as managing the clients' requirements and expectations by holding regular meetings to discuss progress and ideas.As technical leader, I also oversaw many of the software architecture decisions.
    %p I was the security owner of over 15 servers, and trusted with ensuring that IBM's security policies were adhered to as well as approving or denying requests to make changes to these servers.
    %p I co-ordinated the integration of Transitive's pre-IBM processes and tools with IBM's existing processes and tools, such as Rational ClearQuest.This involved many cross-timezone conferences with the US and India.
    %p I served on a committee tasked with improving the morale of the office and to this end I introduced a regular intra-office "forum" for engineers and low-level managers to sound off, as well as organizing dozens of social events, including the bi- monthly office quiz.
.row-fluid
  .span4
    %strong July 2003 - November 2008
    Transitive Ltd, Manchester
    %br
    %em Lead software engineer
  .span8
    %p Prior to Transitive's acquisition by IBM, I was in charge of the company's external web site, which included a Ruby-on-Rails- based e-commerce engine, linked directly to Salesforce.com and our bug tracking systems as well as a download server and license generation system.The system was mostly designed and built by me, and I also played a customer-facing role in getting licenses directly to customers and suppliers.
    %p I architected a flexible software installation framework in Perl which can be endlessly customized to fit the needs of the specific installer being developed. My framework is now used as the basis for the installers of two, unrelated, shipping IBM products.
    %p I was the main developer for Transitive's main process management software, which was (and continues to be, in IBM) used by all its engineers on a daily basis, ensuring all work is adequated tested and reviewed, as well as approved by all its stakeholders.The system provides a "one-stop shop" by integrating tightly with various version control systems (CVS, Subversion, Git) and the testing framework.
.row-fluid
  .span4 
    %strong 1998 - 2001
    McDonald's, York
    %br
    %em Crew member
  .span8
    %p Working at McDonald's was a part-time job for me as a teenager. But I learnt a lot about management, especially the effect that bad management can have on morale, in my time at McDonald's.