.row-fluid
  .span12
    %p I am an advocate of open source and open content, as well as standards compliance, and I bring these passions to the work environment in the form of a detailed understanding of the pros and cons of commercial software vendors engaging in these practices.
    %p I have been a GNU/Linux user at home since the days when building one's own kernel was necessary and, while I am fascinated by the progress it has made, I am still a massive command-line and scripting enthusiast.
    %p My non-software interests are far and wide, from politics to the English language; my personal blog gets 300 unique visitors a month. My wide-reaching scope of knowledge often allows me to adapt to the unexpected in ways that other software managers might stumble on.
    %p I speak regularly at Bettakultcha, a Leeds event where participants speak to a lightning presentation of 20 slides in 5 minutes. Through this and other events, I am building a network of contacts in the Leeds community.
    %p I am an aspiring amateur photographer.You can find me on Flickr through my personal site above.
    %p I serve as an officer to a registered charity.
    %p I know it is a cliché to include it, but my active social life is very important to me and is a defining characteristic of who I am.
