.row-fluid
  .span12
    %p I am an advocate of open source and open content, as well as standards compliance, and I bring these passions to the work environment in the form of a detailed understanding of the pros and cons of commercial software vendors engaging in these practices.
    %p I have been a GNU/Linux user at home since the days when building one's own kernel was necessary and, while I am fascinated by the progress it has made, I am still a massive command-line and scripting enthusiast.
    %p My non-software interests are far and wide, from politics to photography to the English language. My wide-reaching scope of knowledge often allows me to adapt to the unexpected where other software managers may stumble.
    %p In addition to my day job, I am a regular speaker at a lightning talks event, I run a discussion group and I serve as a trustee to a charity.
    %p I know it is a cliché to include it, but my active social life is very important to me and is a defining characteristic of who I am.
