.row-fluid
  .span12
    %p I am a committed and enthusiastic software engineering manager, with extensive experience in both management and software architecture.
    %p I am a strong believer in the Agile Manifesto, and I believe it is possible to achieve great things with small, motivated teams.
    %p I like to stay close to the architecture of whatever I manage. In my experience, it is easier to manage and motivate individuals who know you understand the nature of their work. I will always offer a helping hand and stay close to my team with daily updates but I do not micromanage their workloads.
    %p I believe in quality at source, with — wherever possible — engineers all taking equal responsibility for design, unit testing, reviewing and functional testing.
    %p I have delivered on several international projects with all the pressures of timezones, localization and travel.
    %p I am a likeable and persuasive individual who will stand up for his team to the end; however, I am willing to do whatever it takes to deliver a quality solution on time. The two are reconciled by good requirements management early and often during the process.
