.row-fluid
  .span12
    %h3 Management & leadership
    %p I have proven ability in line management, project management, customer meetings, interviewing and running seminars.
    %p I have practical experience and training in Agile Scrum, Nonviolent Communication (NVC), MBTI, Six Thinking Hats and other methodologies.
    %h3 Architecture & engineering
    %p I have a language/technology-independent outlook on software architecture. I'm fond of MVC-style architectures but I recognize that other architectures are often appropriate. I'm most familiar with LAMP-type environments but I've had significant exposure to other technologies. I like to stay abreast of the latest developments, and I'm very excited about REST, HTML5, event-driven web services, WebSockets and more.