.row-fluid
  .span12
    %h3 Management & leadership
    %p I have proven ability in many aspects of management and leadership, including project planning, software architecture, chairing client meetings, running seminars and tackling employee morale & performance. I have practical experience and training in Agile Scrum, Nonviolent Communication (NVC), MBTI, Six Thinking Hats and other methodologies. I believe that no project can be accomplished alone and I encourage everyone, including myself, to get inside each other's heads and help each other out when help is needed.
    %h3 Software engineering
    %p I have a guru-level understanding of programming in Perl and Ruby, and when I was a developer I was everyone's first choice to answer questions about programming. I have a strong knowledge of web and database development with a full working understanding of XHTML, CSS, Rails, Javascript/AJAX and SQL/DDL. I am primarily a Unix expert and I know my way round Linux and OSX like the back of my hand. Other technologies I have worked with include Java, C/C++, Python, PHP, AIX, Solaris and I am happy to turn my hand to any new language or technology that is thrown my way.