 body {
 	 font-family: Palatino, serif;
 	 font-size: 14px;
 }		
 
 h1, h2, h3, .hero-unit, .navbar {
 	 font-family: Gill Sans, Verdana, sans-serif;
 }	
 
 section {
 	 padding-top:50px;
   margin-top:-50px;
 }
  
 section .row-fluid {
 	 margin-bottom: 10px;
 }
 
 section .row-fluid .span4 {
   padding-top: 1em; 
   padding-right: -2em;
 }
 
 section .row-fluid .span8 {
 	 padding-top: 1em;
   padding-left: 2em; 
 }
 
 
 a.brand {color: white !important;}
 
 .nowrap {white-space: nowrap;}
 
 img.rounded {
 	 -webkit-border-radius: 6px;
 	 -moz-border-radius: 6px;
 	 border-radius: 6px;
 	 -webkit-border-radius: 6px;
 	 -moz-border-radius: 6px;
 	 border-radius: 6px; 	 
 }
 
 #addresses {margin-top: 1em; }
 #addresses strong {width: 40em;}

 footer {height: 40em;}
